.header {
   background: var(--gray-800);
   display: flex;
   justify-content: center;
   padding: 1.25rem 0;
   height: 80px;
}

.header img{
   height: 2rem;
}


/* src/GaleriaImagens.css */
.galeria {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
 }

 .imagem-item {
   text-align: center;
 }

 .imagem-item img {
   max-width: 100%;
   height: auto;
   display: block;
 }