.wrapper{
   max-width: 70rem; /* 70 * 16px = 1120 (256+32+832) é soma total dos dois objetos */
   margin: 2rem auto; /* Em cima E abaixo 2rem(2*16px) e auto nas laterais, centralizando o objeto */
   padding: 0 1rem; /* Se a tela for menor que 70rem nas laterais fique um pequeno espaçamento(1rem = 16px) */

   display: grid;
   grid-template-columns: 256px 1fr; /* primeira coluna tem 256px e a segunda vai se adaptar ao tamanho restante*/
   gap: 2rem;  /* Espaçamento entre as colunas 2rem(16px * 2) */
   align-items: flex-start; /* Faz com que o dois conteudos iniciem juntom, pois o padrão é strech */
}

/* Qaundo a tela for menor que 768px(mobile)*/
@media (max-width: 768px){
   html{
      /* para obter 14px = sendo 16px o padrão, fazemos rega de três */
      font-size: 87.5%; /* (14 x 100) / 16 = 87,5% */
   }

   .wrapper{
      grid-template-columns: 1fr; /* Fica somente com uma coluna pois não a espaço para duas coluna */
   }
}